<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>AbandonProcessGroup</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Debug</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Disabled</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>EnableGlobbing</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>EnvironmentVariables</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;&lt;/key&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ExitTimeOut</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>GroupName</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HardResourceLimits</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HopefullyExitsFirst</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>HopefullyExitsLast</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>inetdCompatibility</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;Wait&lt;/key&gt;
		&lt;true/&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>InitGroups</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>KeepAlive</string>
		<key>display</key>
		<string>KeepAlive (boolean)</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>KeepAlive</string>
		<key>display</key>
		<string>KeepAlive (dictionary)</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;SuccessfulExit&lt;/key&gt;
		&lt;true/&gt;
		&lt;key&gt;NetworkState&lt;/key&gt;
		&lt;true/&gt;
		&lt;key&gt;OtherJobEnabled&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;&lt;/key&gt;
			&lt;true/&gt;
		&lt;/dict&gt;
		&lt;key&gt;PathState&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;&lt;/key&gt;
			&lt;true/&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Label</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LaunchOnlyOnce</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LimitLoadFromHosts</string>
		<key>value</key>
		<string>&lt;array&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/array&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LimitLoadToHosts</string>
		<key>value</key>
		<string>&lt;array&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/array&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LimitLoadToSessionType</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>LowPriorityIO</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>MachServices</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;&lt;/key&gt;
		&lt;true/&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Nice</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Program</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ProgramArguments</string>
		<key>value</key>
		<string>&lt;array&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/array&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>QueueDirectories</string>
		<key>value</key>
		<string>&lt;array&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/array&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RootDirectory</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>RunAtLoad</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Sockets</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;&lt;/key&gt;
		&lt;dict&gt;
			&lt;key&gt;&lt;/key&gt;
			&lt;string&gt;&lt;/string&gt;
			&lt;key&gt;&lt;/key&gt;
			&lt;array&gt;
				&lt;string&gt;&lt;/string&gt;
			&lt;/array&gt;
		&lt;/dict&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>SoftResourceLimits</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>StandardErrorPath</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>StandardOutPath</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>StartCalendarInterval</string>
		<key>value</key>
		<string>&lt;dict&gt;
		&lt;key&gt;Minute&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
		&lt;key&gt;Hour&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
		&lt;key&gt;Day&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
		&lt;key&gt;Weekday&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
		&lt;key&gt;Month&lt;/key&gt;
		&lt;integer&gt;&lt;/integer&gt;
	&lt;/dict&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>StartInterval</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>StartOnMount</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>ThrottleInterval</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>TimeOut</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>Umask</string>
		<key>value</key>
		<string>&lt;integer&gt;&lt;/integer&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>UserName</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>WaitForDebugger</string>
		<key>value</key>
		<string>&lt;true/&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>WatchPaths</string>
		<key>value</key>
		<string>&lt;array&gt;
		&lt;string&gt;&lt;/string&gt;
	&lt;/array&gt;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>WorkingDirectory</string>
		<key>value</key>
		<string>&lt;string&gt;&lt;/string&gt;</string>
	</dict>
</array>
</plist>